<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>

    <div id="app">

        <h1>{{ message }}</h1>

        <h2 v-if="rta > 0"> {{suma}} mayor a cero : {{rta}}</h2>
        <h2 v-else>{{suma}} menor a cero : {{rta}}</h2>

        <input v-model.number="n1" placeholder="numero 1">
        <input v-model.number="n2" placeholder="numero 2">

        <!-- <h1 v-text="rta"></h1> -->

        <button @click="sumar">boton</button>

        <h2>Frutas</h2>

        <ul>
            <li v-for="fruta of frutas">{{fruta}}</li>
        </ul>


        <!-- /*v-model
        @click 
        v-if 
        v-for
        */ -->

    </div>

</body>
<!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->

<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>

<script src="main.js"></script>

</html>